<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <system.serviceModel>
    <services>
      <service name="WCFAssignment2.Service1" behaviorConfiguration="mexBehaviour">
        <endpoint address="MyProgram" binding="basicHttpBinding" contract="WCFAssignment2.IService1"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8085/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehaviour">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>